<p>Hi,</p>
<p>We heard you've lost your password.  Sorry about that.  Here's a code that will let you get back into your account:</p>
	
<h3><%=@user.reset_password_code%></h3>

<p>Login with this code <a href="/reset_password">here</a>. Then change your password.</p>

<p>Thanks!</p>
  