<p>Type in the temporary password that was mailed to and then choose a new password.</p>
<%=form_tag({:controller  => "users", :action  => "reset_password"}, :method => "post") %>

<div class="field">
	<%=label_tag(:reset_password_code, "Enter code here") %>
	<%=text_field_tag (:reset_password_code)%>

</div>

<div class="actions">
	<%=submit_tag ("Enter and Reset Password") %>
</div>